<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="updatePage()">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Registros
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
     

     <div *ngIf="hasComics">
        <ion-list>
  
           <ion-item *ngFor="let comic of comics" class="scans" [ngClass]="comic.active == true?'true':'false'">
            <ion-icon *ngIf=" comic.active == true" item-start name="ios-checkmark-circle" color="secondary"></ion-icon>
            <ion-icon *ngIf=" comic.active == false" item-start name="ios-close-circle" color="danger"></ion-icon>
              <h2>{{ comic.character }} </h2>
              <p>{{ comic.rating }}</p>
            <ion-icon *ngIf=" comic.active == false && hide == false" color="primary" item-end name="ios-send-outline" (click)="feedUps(comic.character, comic.rating, comic.active, comic.id, comic.rev)"></ion-icon>
           </ion-item>
  
        </ion-list>
     </div>
</ion-content>
