page-contact {
    .add {
        font-size: 1.2em;
        padding: 1.5em 1em !important;
     }
     .scans{
         background: #fff;
         border-top: 0px solid #c8c7cc !important;
         box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
         margin-bottom: 10px;
         border-radius: 25px;
     }
     .scans.true{
        border-left: 4px solid #32db64;
     }
     .scans.false{
        border-left: 4px solid #f53d3d;
     }
     .list-ios .item-block .item-inner {
        border-bottom: 0.0px solid #c8c7cc !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede !important;
    }
    ion-label{
        overflow: initial !important;
    }
    .card-ios {
        background: #fff;
        border-radius: 25px
    }
    ion-list-header{
        border-bottom: 0 solid #c8c7cc !important;
        color: #fff !important;
        background-color: transparent !important;
    }
}
