// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Rubik', sans-serif;
    src:url('../assets/fonts/iJWKBXyIfDnIV7nBrXyw023e.woff2');
  }
  
  p,ion-item,h1,h2,ion-title,ion-label,ion-title,b{
    font-family: 'Rubik', sans-serif;
    font-size: large;
    text-align: justify;
  }
  .tabs .tabbar {
    border-top: 0.55px solid rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  ion-navbar, .toolbar-background{
    background: $navbarQr;
  }
  ion-tabs a:nth-child(2){
    color: #fff !important;
    position: relative;
  }
  ion-tabs a:nth-child(2):before{
    content:'';
    position: absolute;
    background: $navbarQr;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -15px;
    left:0;
    right: 0;
    margin: 0 auto;
    z-index: 200;
  }
  ion-tabs a:nth-child(2) > .tab-button-icon,
  ion-tabs a:nth-child(2) > .tab-button-text {
    position: relative;
    color: #fff !important;
    top: -10px;
    z-index: 201;
  }
  ion-tabs {
    overflow: visible !important;
  }
  ion-tabs .tab-button {
    overflow: unset !important;
  }
  .platform-android .tabs .tabbar,
  ion-tabs .tabs .tabbar {
    overflow: visible !important;
    z-index: 999999 !important;
  }
  .tabbar{
    z-index: 999999 !important;
  }
  .scroll-content{
    z-index: 0 !important;
  }
  .fixed-content {
    z-index: 0 !important;
  }
  .tabs-md .tab-button {
    z-index: 9999;
  }
  ion-content{
    background: -webkit-gradient(linear, left top, right top, from(#5F87E7), to(#7ea4ff)) !important;
    background: linear-gradient(90deg, #5F87E7 0%, #7ea4ff 100%) !important;
  }
  .toast-message { background: color($colors, primary) } 